# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore log files
*.log

# Ignore build directories
build/
dist/

# Ignore .env file
.env

# Database
data/

server/mediafiles/
server/staticfiles/
```

# add to .gitignore all .pyc files
*.pyc