@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-5oRAD4Twqii5: 16px;
  --plasmic-token-h-2: var(--token-5oRAD4Twqii5);
  --token-Tt5mr3_jpx0e: #2a2b37;
  --plasmic-token-neutral-900: var(--token-Tt5mr3_jpx0e);
  --token-JQLVym6uCQRo: #383848;
  --plasmic-token-neutral-800: var(--token-JQLVym6uCQRo);
  --token-JR1RWg4z9tnL: #48485c;
  --plasmic-token-neutral-700: var(--token-JR1RWg4z9tnL);
  --token-OGJqAfEUDlO7: #5c5d76;
  --plasmic-token-neutral-600: var(--token-OGJqAfEUDlO7);
  --token-C2h0JxEW5qY9: #656682;
  --plasmic-token-neutral-500: var(--token-C2h0JxEW5qY9);
  --token-Xnqew9MFeiJq: #84859b;
  --plasmic-token-neutral-400: var(--token-Xnqew9MFeiJq);
  --token-7lIpt9gz58AP: #9898ab;
  --plasmic-token-neutral-300: var(--token-7lIpt9gz58AP);
  --token-GN9j6e0-Svpe: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-GN9j6e0-Svpe);
  --token-mhfF0-G8Gaxb: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-mhfF0-G8Gaxb);
  --token-WzC5vIWMSV4G: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-WzC5vIWMSV4G);
  --token-Q9KH84-3Q5A-: 14px;
  --plasmic-token-body-small: var(--token-Q9KH84-3Q5A-);
  --token-QD1tMlRyXWt-: 20px;
  --plasmic-token-body-small-2: var(--token-QD1tMlRyXWt-);
  --token-PdNUGopNgm8v: #01471e;
  --plasmic-token-success-text: var(--token-PdNUGopNgm8v);
  --token-wc8yQT7sl26m: #dffbea;
  --plasmic-token-success-bg: var(--token-wc8yQT7sl26m);
  --token-BOFe06ZIgqmn: #aff5cb;
  --plasmic-token-success-200: var(--token-BOFe06ZIgqmn);
  --token-dnaYMhecerNW: #87efb1;
  --plasmic-token-success-300: var(--token-dnaYMhecerNW);
  --token-JWaH-HVco_sW: #5fea97;
  --plasmic-token-success-400: var(--token-JWaH-HVco_sW);
  --token--8hSOP-huyqC: #37e57d;
  --plasmic-token-success-500: var(--token--8hSOP-huyqC);
  --token--nHau10TYY4E: #24bf63;
  --plasmic-token-success-600: var(--token--nHau10TYY4E);
  --token-aFJdS7tJhslO: #159649;
  --plasmic-token-success-700: var(--token-aFJdS7tJhslO);
  --token-DMVnn6SzMrKC: #096e32;
  --plasmic-token-success-800: var(--token-DMVnn6SzMrKC);
  --token-Vrmc1ZJ_vIS9: #d7faf8;
  --plasmic-token-secondary-100: var(--token-Vrmc1ZJ_vIS9);
  --token-ksmAoUW0RtaV: #aff5f0;
  --plasmic-token-secondary-200: var(--token-ksmAoUW0RtaV);
  --token-id_MSU4c-vtT: #87efe8;
  --plasmic-token-secondary-300: var(--token-id_MSU4c-vtT);
  --token-94c7bIMDKspb: #5feae1;
  --plasmic-token-secondary-400: var(--token-94c7bIMDKspb);
  --token-Yq0X8sv2c6rM: #37e5db;
  --plasmic-token-secondary-500: var(--token-Yq0X8sv2c6rM);
  --token-y83LdCIQU4q2: #24bfb5;
  --plasmic-token-secondary-600: var(--token-y83LdCIQU4q2);
  --token-20TAo0Dtg9T7: #15968e;
  --plasmic-token-secondary-700: var(--token-20TAo0Dtg9T7);
  --token-cY5Fgq_nTr1b: #096e67;
  --plasmic-token-secondary-800: var(--token-cY5Fgq_nTr1b);
  --token-1bA9Utcgwh8q: #014743;
  --plasmic-token-secondary-900: var(--token-1bA9Utcgwh8q);
  --token-ZojzVuyD1Yii: #d8d8fa;
  --plasmic-token-primary-100: var(--token-ZojzVuyD1Yii);
  --token-4woG70BU3kPu: #b0b1f4;
  --plasmic-token-primary-200: var(--token-4woG70BU3kPu);
  --token-GtEMsLG_LRHZ: #898bef;
  --plasmic-token-primary-300: var(--token-GtEMsLG_LRHZ);
  --token-PVahfPP964Yl: #6164e9;
  --plasmic-token-primary-400: var(--token-PVahfPP964Yl);
  --token-1u7-K9-0LX96: #3a3de4;
  --plasmic-token-primary-500: var(--token-1u7-K9-0LX96);
  --token-iqsjsoe5lQGM: #2225bf;
  --plasmic-token-primary-600: var(--token-iqsjsoe5lQGM);
  --token-3nzyYmKoEiB4: #141696;
  --plasmic-token-primary-700: var(--token-3nzyYmKoEiB4);
  --token-E3sVclwzvbH3: #08096e;
  --plasmic-token-primary-800: var(--token-E3sVclwzvbH3);
  --token-Niukkp1sQdyb: #010347;
  --plasmic-token-primary-900: var(--token-Niukkp1sQdyb);
  --token-XHI2HSBtkAx1: #f2f3fd;
  --plasmic-token-primary-050: var(--token-XHI2HSBtkAx1);
  --token-yG8cyj_5JMJ4: #faf6d7;
  --plasmic-token-warning-100: var(--token-yG8cyj_5JMJ4);
  --token-lL703HQ7FD-R: #f5eeaf;
  --plasmic-token-warning-200: var(--token-lL703HQ7FD-R);
  --token-z2MQf4ayCpop: #efe587;
  --plasmic-token-warning-300: var(--token-z2MQf4ayCpop);
  --token-O4rbn0knmnBz: #eadd5f;
  --plasmic-token-warning-400: var(--token-O4rbn0knmnBz);
  --token-Bex6ZdaSaR6Z: #e5d437;
  --plasmic-token-warning-500: var(--token-Bex6ZdaSaR6Z);
  --token-uHeNNv1IjCzR: #bfb024;
  --plasmic-token-warning-600: var(--token-uHeNNv1IjCzR);
  --token-J65_VXLLnrfQ: #998c15;
  --plasmic-token-warning-700: var(--token-J65_VXLLnrfQ);
  --token-_1YROx8Z1p6m: #6e6408;
  --plasmic-token-warning-800: var(--token-_1YROx8Z1p6m);
  --token-JFcUKqcTkL8T: #383302;
  --plasmic-token-warning-900: var(--token-JFcUKqcTkL8T);
  --token-RNnV2uu7p06x: #fad7d7;
  --plasmic-token-danger-100: var(--token-RNnV2uu7p06x);
  --token-4dDEEeZbOyas: #f18787;
  --plasmic-token-danger-300: var(--token-4dDEEeZbOyas);
  --token-X34mip8M465W: #f6afaf;
  --plasmic-token-danger-200: var(--token-X34mip8M465W);
  --token-Mb5MGfNaSjlc: #ed6060;
  --plasmic-token-danger-400: var(--token-Mb5MGfNaSjlc);
  --token-QVVj6EbJPBAi: #e83838;
  --plasmic-token-danger-500: var(--token-QVVj6EbJPBAi);
  --token-rFl5SqLMEwkm: #c22525;
  --plasmic-token-danger-600: var(--token-rFl5SqLMEwkm);
  --token-njI5I72BoDDx: #9c1616;
  --plasmic-token-danger-700: var(--token-njI5I72BoDDx);
  --token-SIZ6-vNaZQzP: #6b0707;
  --plasmic-token-danger-800: var(--token-SIZ6-vNaZQzP);
  --token-OFU4-19JWs6Y: #360202;
  --plasmic-token-danger-900: var(--token-OFU4-19JWs6Y);
  --token-I6GCDak6j-BM: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-I6GCDak6j-BM);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-yzKtyNgjdH6Z_font-family: "Inter", sans-serif;
  --mixin-yzKtyNgjdH6Z_font-size: 14px;
  --mixin-yzKtyNgjdH6Z_font-weight: 400;
  --mixin-yzKtyNgjdH6Z_font-style: normal;
  --mixin-yzKtyNgjdH6Z_color: var(--token-7lIpt9gz58AP);
  --mixin-yzKtyNgjdH6Z_text-align: left;
  --mixin-yzKtyNgjdH6Z_text-transform: none;
  --mixin-yzKtyNgjdH6Z_line-height: 21px;
  --mixin-yzKtyNgjdH6Z_letter-spacing: -0.6%;
  --mixin-yzKtyNgjdH6Z_white-space: pre-wrap;
  --mixin-yzKtyNgjdH6Z_user-select: text;
  --mixin-yzKtyNgjdH6Z_text-decoration-line: none;
  --mixin-yzKtyNgjdH6Z_text-overflow: clip;
  --mixin-x00F5gn5Phba_color: var(--token-Tt5mr3_jpx0e);
  --mixin-x00F5gn5Phba_font-weight: 600;
  --mixin-x00F5gn5Phba_font-size: 26px;
  --mixin-x00F5gn5Phba_line-height: 32px;
  --mixin-x00F5gn5Phba_letter-spacing: -1%;
  --mixin-x00F5gn5Phba_white-space: pre-wrap;
  --mixin-kS1I1t7asZqm_color: var(--token-Tt5mr3_jpx0e);
  --mixin-kS1I1t7asZqm_font-size: 23px;
  --mixin-kS1I1t7asZqm_font-weight: 700;
  --mixin-kS1I1t7asZqm_line-height: 28px;
  --mixin-kS1I1t7asZqm_font-family: "Inter", sans-serif;
  --mixin-kS1I1t7asZqm_letter-spacing: -1%;
  --mixin-kS1I1t7asZqm_white-space: pre-wrap;
  --mixin-_eHH04hWy2MA_color: #0070f3;
  --mixin-_eHH04hWy2MA_white-space: pre-wrap;
  --mixin-Dt0vlTnkxc1y_color: var(--token-Tt5mr3_jpx0e);
  --mixin-Dt0vlTnkxc1y_font-size: 20px;
  --mixin-Dt0vlTnkxc1y_font-weight: 700;
  --mixin-Dt0vlTnkxc1y_line-height: 24px;
  --mixin-Dt0vlTnkxc1y_letter-spacing: -1%;
  --mixin-Dt0vlTnkxc1y_font-family: "Inter", sans-serif;
  --mixin-Dt0vlTnkxc1y_white-space: pre-wrap;
  --mixin-D7kk-eZ1qvvj_color: var(--token-Tt5mr3_jpx0e);
  --mixin-D7kk-eZ1qvvj_font-size: 18px;
  --mixin-D7kk-eZ1qvvj_font-weight: 700;
  --mixin-D7kk-eZ1qvvj_line-height: 24px;
  --mixin-D7kk-eZ1qvvj_letter-spacing: -1%;
  --mixin-D7kk-eZ1qvvj_font-family: "Inter", sans-serif;
  --mixin-D7kk-eZ1qvvj_white-space: pre-wrap;
  --mixin-iOmt9fdeW6-Z_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-iOmt9fdeW6-Z_border-bottom-color: #dddddd;
  --mixin-iOmt9fdeW6-Z_border-bottom-style: solid;
  --mixin-iOmt9fdeW6-Z_border-bottom-width: 1px;
  --mixin-iOmt9fdeW6-Z_border-left-color: #dddddd;
  --mixin-iOmt9fdeW6-Z_border-left-style: solid;
  --mixin-iOmt9fdeW6-Z_border-left-width: 1px;
  --mixin-iOmt9fdeW6-Z_border-right-color: #dddddd;
  --mixin-iOmt9fdeW6-Z_border-right-style: solid;
  --mixin-iOmt9fdeW6-Z_border-right-width: 1px;
  --mixin-iOmt9fdeW6-Z_border-top-color: #dddddd;
  --mixin-iOmt9fdeW6-Z_border-top-style: solid;
  --mixin-iOmt9fdeW6-Z_border-top-width: 1px;
  --mixin-iOmt9fdeW6-Z_border-bottom-left-radius: 3px;
  --mixin-iOmt9fdeW6-Z_border-bottom-right-radius: 3px;
  --mixin-iOmt9fdeW6-Z_border-top-left-radius: 3px;
  --mixin-iOmt9fdeW6-Z_border-top-right-radius: 3px;
  --mixin-iOmt9fdeW6-Z_font-family: "Inconsolata";
  --mixin-iOmt9fdeW6-Z_padding-bottom: 1px;
  --mixin-iOmt9fdeW6-Z_padding-left: 4px;
  --mixin-iOmt9fdeW6-Z_padding-right: 4px;
  --mixin-iOmt9fdeW6-Z_padding-top: 1px;
  --mixin-iOmt9fdeW6-Z_white-space: pre-wrap;
  --mixin-Tf8fSjQM8VKA_border-left-color: #dddddd;
  --mixin-Tf8fSjQM8VKA_border-left-style: solid;
  --mixin-Tf8fSjQM8VKA_border-left-width: 3px;
  --mixin-Tf8fSjQM8VKA_color: #888888;
  --mixin-Tf8fSjQM8VKA_padding-left: 10px;
  --mixin-Tf8fSjQM8VKA_white-space: pre-wrap;
  --mixin-y6RvVlXi2utj_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-y6RvVlXi2utj_border-bottom-color: #dddddd;
  --mixin-y6RvVlXi2utj_border-bottom-style: solid;
  --mixin-y6RvVlXi2utj_border-bottom-width: 1px;
  --mixin-y6RvVlXi2utj_border-left-color: #dddddd;
  --mixin-y6RvVlXi2utj_border-left-style: solid;
  --mixin-y6RvVlXi2utj_border-left-width: 1px;
  --mixin-y6RvVlXi2utj_border-right-color: #dddddd;
  --mixin-y6RvVlXi2utj_border-right-style: solid;
  --mixin-y6RvVlXi2utj_border-right-width: 1px;
  --mixin-y6RvVlXi2utj_border-top-color: #dddddd;
  --mixin-y6RvVlXi2utj_border-top-style: solid;
  --mixin-y6RvVlXi2utj_border-top-width: 1px;
  --mixin-y6RvVlXi2utj_border-bottom-left-radius: 3px;
  --mixin-y6RvVlXi2utj_border-bottom-right-radius: 3px;
  --mixin-y6RvVlXi2utj_border-top-left-radius: 3px;
  --mixin-y6RvVlXi2utj_border-top-right-radius: 3px;
  --mixin-y6RvVlXi2utj_font-family: "Inconsolata";
  --mixin-y6RvVlXi2utj_padding-bottom: 3px;
  --mixin-y6RvVlXi2utj_padding-left: 6px;
  --mixin-y6RvVlXi2utj_padding-right: 6px;
  --mixin-y6RvVlXi2utj_padding-top: 3px;
  --mixin-y6RvVlXi2utj_white-space: pre-wrap;
  --mixin-K9HOAkDj7rHn_display: flex;
  --mixin-K9HOAkDj7rHn_flex-direction: column;
  --mixin-K9HOAkDj7rHn_align-items: stretch;
  --mixin-K9HOAkDj7rHn_justify-content: flex-start;
  --mixin-K9HOAkDj7rHn_list-style-position: outside;
  --mixin-K9HOAkDj7rHn_padding-left: 40px;
  --mixin-K9HOAkDj7rHn_position: relative;
  --mixin-K9HOAkDj7rHn_list-style-type: disc;
  --mixin-K9HOAkDj7rHn_white-space: pre-wrap;
  --mixin-rV6jWhL7BX7N_display: flex;
  --mixin-rV6jWhL7BX7N_flex-direction: column;
  --mixin-rV6jWhL7BX7N_align-items: stretch;
  --mixin-rV6jWhL7BX7N_justify-content: flex-start;
  --mixin-rV6jWhL7BX7N_list-style-position: outside;
  --mixin-rV6jWhL7BX7N_padding-left: 40px;
  --mixin-rV6jWhL7BX7N_position: relative;
  --mixin-rV6jWhL7BX7N_list-style-type: decimal;
  --mixin-rV6jWhL7BX7N_white-space: pre-wrap;
  --mixin-UJObf0AJaWIS_color: var(--token-JQLVym6uCQRo);
  --mixin-UJObf0AJaWIS_font-size: 16px;
  --mixin-UJObf0AJaWIS_font-weight: 600;
  --mixin-UJObf0AJaWIS_line-height: 20px;
  --mixin-UJObf0AJaWIS_letter-spacing: -1%;
  --mixin-UJObf0AJaWIS_font-family: "Inter", sans-serif;
  --mixin-UJObf0AJaWIS_white-space: pre-wrap;
  --mixin-Y0Nc5MsxQmCw_color: var(--token-Tt5mr3_jpx0e);
  --mixin-Y0Nc5MsxQmCw_font-size: 14px;
  --mixin-Y0Nc5MsxQmCw_font-weight: 600;
  --mixin-Y0Nc5MsxQmCw_line-height: 20px;
  --mixin-Y0Nc5MsxQmCw_letter-spacing: 1%;
  --mixin-Y0Nc5MsxQmCw_font-family: "Inter", sans-serif;
  --mixin-Y0Nc5MsxQmCw_white-space: pre-wrap;
  --mixin-EbFkIIRFoqZm_color: #3291ff;
  --mixin-EbFkIIRFoqZm_white-space: pre-wrap;
  --mixin-UINZiWI2Wwyf_white-space: pre-wrap;
  --mixin-TR6vEpnBAXGY_color: var(--token-JR1RWg4z9tnL);
  --mixin-TR6vEpnBAXGY_font-family: "Inter", sans-serif;
  --mixin-TR6vEpnBAXGY_font-weight: 500;
  --mixin-TR6vEpnBAXGY_font-size: 16px;
  --mixin-TR6vEpnBAXGY_line-height: 24px;
  --mixin-TR6vEpnBAXGY_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-uYS_rdr9qFqV_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-uYS_rdr9qFqV_white-space);
  --mixin-AShYFn55mbxz_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-AShYFn55mbxz_white-space);
  --mixin-5QcBjGrJPiXv_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-5QcBjGrJPiXv_box-shadow);
  --mixin-5QcBjGrJPiXv_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-5QcBjGrJPiXv_white-space
  );
  --mixin-PlNlR6gMLQH0_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-PlNlR6gMLQH0_white-space);
  --mixin-ehbb12CbBV4m_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-ehbb12CbBV4m_white-space);
  --mixin-RzN_Ut34TSgO_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-RzN_Ut34TSgO_box-shadow
  );
  --mixin-RzN_Ut34TSgO_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-RzN_Ut34TSgO_white-space
  );
  --mixin-7qWg3RtrOmN8_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-7qWg3RtrOmN8_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-yzKtyNgjdH6Z_font-family);
  font-size: var(--mixin-yzKtyNgjdH6Z_font-size);
  font-weight: var(--mixin-yzKtyNgjdH6Z_font-weight);
  font-style: var(--mixin-yzKtyNgjdH6Z_font-style);
  color: var(--mixin-yzKtyNgjdH6Z_color);
  text-align: var(--mixin-yzKtyNgjdH6Z_text-align);
  text-transform: var(--mixin-yzKtyNgjdH6Z_text-transform);
  line-height: var(--mixin-yzKtyNgjdH6Z_line-height);
  letter-spacing: var(--mixin-yzKtyNgjdH6Z_letter-spacing);
  white-space: var(--mixin-yzKtyNgjdH6Z_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-x00F5gn5Phba_color);
  font-weight: var(--mixin-x00F5gn5Phba_font-weight);
  font-size: var(--mixin-x00F5gn5Phba_font-size);
  line-height: var(--mixin-x00F5gn5Phba_line-height);
  letter-spacing: var(--mixin-x00F5gn5Phba_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-kS1I1t7asZqm_color);
  font-size: var(--mixin-kS1I1t7asZqm_font-size);
  font-weight: var(--mixin-kS1I1t7asZqm_font-weight);
  line-height: var(--mixin-kS1I1t7asZqm_line-height);
  font-family: var(--mixin-kS1I1t7asZqm_font-family);
  letter-spacing: var(--mixin-kS1I1t7asZqm_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-_eHH04hWy2MA_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Dt0vlTnkxc1y_color);
  font-size: var(--mixin-Dt0vlTnkxc1y_font-size);
  font-weight: var(--mixin-Dt0vlTnkxc1y_font-weight);
  line-height: var(--mixin-Dt0vlTnkxc1y_line-height);
  letter-spacing: var(--mixin-Dt0vlTnkxc1y_letter-spacing);
  font-family: var(--mixin-Dt0vlTnkxc1y_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-D7kk-eZ1qvvj_color);
  font-size: var(--mixin-D7kk-eZ1qvvj_font-size);
  font-weight: var(--mixin-D7kk-eZ1qvvj_font-weight);
  line-height: var(--mixin-D7kk-eZ1qvvj_line-height);
  letter-spacing: var(--mixin-D7kk-eZ1qvvj_letter-spacing);
  font-family: var(--mixin-D7kk-eZ1qvvj_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-iOmt9fdeW6-Z_font-family);
  border-radius: var(--mixin-iOmt9fdeW6-Z_border-top-left-radius)
    var(--mixin-iOmt9fdeW6-Z_border-top-right-radius)
    var(--mixin-iOmt9fdeW6-Z_border-bottom-right-radius)
    var(--mixin-iOmt9fdeW6-Z_border-bottom-left-radius);
  padding: var(--mixin-iOmt9fdeW6-Z_padding-top)
    var(--mixin-iOmt9fdeW6-Z_padding-right)
    var(--mixin-iOmt9fdeW6-Z_padding-bottom)
    var(--mixin-iOmt9fdeW6-Z_padding-left);
  border-top: var(--mixin-iOmt9fdeW6-Z_border-top-width)
    var(--mixin-iOmt9fdeW6-Z_border-top-style)
    var(--mixin-iOmt9fdeW6-Z_border-top-color);
  border-right: var(--mixin-iOmt9fdeW6-Z_border-right-width)
    var(--mixin-iOmt9fdeW6-Z_border-right-style)
    var(--mixin-iOmt9fdeW6-Z_border-right-color);
  border-bottom: var(--mixin-iOmt9fdeW6-Z_border-bottom-width)
    var(--mixin-iOmt9fdeW6-Z_border-bottom-style)
    var(--mixin-iOmt9fdeW6-Z_border-bottom-color);
  border-left: var(--mixin-iOmt9fdeW6-Z_border-left-width)
    var(--mixin-iOmt9fdeW6-Z_border-left-style)
    var(--mixin-iOmt9fdeW6-Z_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Tf8fSjQM8VKA_color);
  padding-left: var(--mixin-Tf8fSjQM8VKA_padding-left);
  border-left: var(--mixin-Tf8fSjQM8VKA_border-left-width)
    var(--mixin-Tf8fSjQM8VKA_border-left-style)
    var(--mixin-Tf8fSjQM8VKA_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-y6RvVlXi2utj_font-family);
  border-radius: var(--mixin-y6RvVlXi2utj_border-top-left-radius)
    var(--mixin-y6RvVlXi2utj_border-top-right-radius)
    var(--mixin-y6RvVlXi2utj_border-bottom-right-radius)
    var(--mixin-y6RvVlXi2utj_border-bottom-left-radius);
  padding: var(--mixin-y6RvVlXi2utj_padding-top)
    var(--mixin-y6RvVlXi2utj_padding-right)
    var(--mixin-y6RvVlXi2utj_padding-bottom)
    var(--mixin-y6RvVlXi2utj_padding-left);
  border-top: var(--mixin-y6RvVlXi2utj_border-top-width)
    var(--mixin-y6RvVlXi2utj_border-top-style)
    var(--mixin-y6RvVlXi2utj_border-top-color);
  border-right: var(--mixin-y6RvVlXi2utj_border-right-width)
    var(--mixin-y6RvVlXi2utj_border-right-style)
    var(--mixin-y6RvVlXi2utj_border-right-color);
  border-bottom: var(--mixin-y6RvVlXi2utj_border-bottom-width)
    var(--mixin-y6RvVlXi2utj_border-bottom-style)
    var(--mixin-y6RvVlXi2utj_border-bottom-color);
  border-left: var(--mixin-y6RvVlXi2utj_border-left-width)
    var(--mixin-y6RvVlXi2utj_border-left-style)
    var(--mixin-y6RvVlXi2utj_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-K9HOAkDj7rHn_display);
  flex-direction: var(--mixin-K9HOAkDj7rHn_flex-direction);
  align-items: var(--mixin-K9HOAkDj7rHn_align-items);
  justify-content: var(--mixin-K9HOAkDj7rHn_justify-content);
  list-style-position: var(--mixin-K9HOAkDj7rHn_list-style-position);
  padding-left: var(--mixin-K9HOAkDj7rHn_padding-left);
  position: var(--mixin-K9HOAkDj7rHn_position);
  list-style-type: var(--mixin-K9HOAkDj7rHn_list-style-type);
  flex-column-gap: var(--mixin-K9HOAkDj7rHn_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-rV6jWhL7BX7N_display);
  flex-direction: var(--mixin-rV6jWhL7BX7N_flex-direction);
  align-items: var(--mixin-rV6jWhL7BX7N_align-items);
  justify-content: var(--mixin-rV6jWhL7BX7N_justify-content);
  list-style-position: var(--mixin-rV6jWhL7BX7N_list-style-position);
  padding-left: var(--mixin-rV6jWhL7BX7N_padding-left);
  position: var(--mixin-rV6jWhL7BX7N_position);
  list-style-type: var(--mixin-rV6jWhL7BX7N_list-style-type);
  flex-column-gap: var(--mixin-rV6jWhL7BX7N_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-UJObf0AJaWIS_color);
  font-size: var(--mixin-UJObf0AJaWIS_font-size);
  font-weight: var(--mixin-UJObf0AJaWIS_font-weight);
  line-height: var(--mixin-UJObf0AJaWIS_line-height);
  letter-spacing: var(--mixin-UJObf0AJaWIS_letter-spacing);
  font-family: var(--mixin-UJObf0AJaWIS_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-Y0Nc5MsxQmCw_color);
  font-size: var(--mixin-Y0Nc5MsxQmCw_font-size);
  font-weight: var(--mixin-Y0Nc5MsxQmCw_font-weight);
  line-height: var(--mixin-Y0Nc5MsxQmCw_line-height);
  letter-spacing: var(--mixin-Y0Nc5MsxQmCw_letter-spacing);
  font-family: var(--mixin-Y0Nc5MsxQmCw_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-EbFkIIRFoqZm_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-TR6vEpnBAXGY_color);
  font-family: var(--mixin-TR6vEpnBAXGY_font-family);
  font-weight: var(--mixin-TR6vEpnBAXGY_font-weight);
  font-size: var(--mixin-TR6vEpnBAXGY_font-size);
  line-height: var(--mixin-TR6vEpnBAXGY_line-height);
}
